<!doctype html>
<html class="no-js">
<head>
    <link rel="shortcut icon" href="./Image/favicon.ico" type="image/png" />
    <meta charset="utf-8" />
    <title>Home </title>
    <script src="~/Menuu/js/jquery.min.1.11.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Menuu/js/default_script.min.js"></script>
    <link href="~/Menuu/css/default_style.min.css" rel="stylesheet" />
    <script src="~/Menuu/js/scripts.js"></script>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Menuu/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Menuu/css/styles.css" rel="stylesheet" />
</head>
<body>
    <nav id="menu-mobile" class="hidden">
        <ul>
            <li><a href="index.html">Trang chủ</a></li>
            <li class="has-children">
                <a href="category.html">Trang điểm</a>
                <ul class="child count-nav-3">
                    <li><a href="category.html">Trang điểm mặt</a></li>
                    <li><a href="category.html">Trang điểm mắt</a></li>
                    <li><a href="category.html">Trang điểm môi</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="category.html">Nước hoa</a>
                <ul class="child count-nav-6">
                    <li><a href="category.html">Nước hoa nam</a></li>
                    <li><a href="category.html">Nước hoa nữ</a></li>
                    <li><a href="category.html">Nước hoa mini</a></li>
                    <li><a href="category.html">Xịt khử mùi</a></li>
                    <li><a href="category.html">Nước hoa khác</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="category.html">Dưỡng da mặt</a>
                <ul class="child count-nav-3">
                    <li><a href="category.html">Bộ mỹ phẩm chăm sóc da</a></li>
                    <li><a href="category.html">Kem dưỡng da </a></li>
                    <li><a href="category.html">Kem làm trắng</a></li>
                    <li><a href="category.html">Sữa dưỡng da</a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="category.html">Làm sạch da mặt</a>
                <ul class="child count-nav-3">
                    <li><a href="category.html">Tẩy Trang</a></li>
                    <li><a href="category.html">Sữa rửa mặt</a></li>
                    <li><a href="category.html">Tẩy da chết</a></li>
                </ul>
            </li>
            <li>
                <a href="blog.html">Tin tức</a>
            </li>
        </ul>
    </nav>
    <div id="page">
        <script src='~/Menuu/js/home.js' type='text/javascript'></script>
        <section id="page_content" class="">
            <div id="pageContainer" class="clearfix">
                <nav class="navbar-main navbar navbar-default cl-pri">
                    <div class="container nav-wrapper check_nav">
                        <div class="row">
                            <div class="navbar-header">
                                <div class="mobile-menu-icon-wrapper">
                                    <div class="menu-logo">
                                        <h1 class="logo logo-mobile">
                                            <a href="index.html">
                                                <img src="~/Menuu/image/logo.png" class="img-responsive logoimg" />
                                            </a>
                                        </h1>
                                        <div class="menu-btn click-menu-mobile ">
                                            <a href="#menu-mobile" class="navbar-toggler">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </a>
                                        </div>
                                        <div id="cart-targets" class="cart">
                                            <a href="cart.html" class="cart " title="Giỏ hàng">
                                                <span id="cart-count" class="cart-number">5</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="search-bar-top">
                                        <div class="search-input-top">
                                            <form action="#">
                                                <input type="hidden" name="type" value="product" />
                                                <input type="text" name="q" placeholder="Tìm kiếm sản phẩm ..." />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav clearfix">
                                    <li>
                                        <a href="/" class=" current" title="Trang chủ">
                                            <span>Trang chủ</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="index.html">
                                            <span>Trang điểm</span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="category.html">Trang điểm mặt</a></li>
                                            <li><a href="category.html">Trang điểm mắt</a></li>
                                            <li><a href="category.html">Trang điểm môi</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="category.html">
                                            <span>Nước hoa</span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="category.html">Nước hoa nam</a></li>
                                            <li><a href="category.html">Nước hoa nữ</a></li>
                                            <li><a href="category.html">Nước hoa mini</a></li>
                                            <li><a href="category.html">Xịt khử mùi</a></li>
                                            <li><a href="category.html">Nước hoa khác</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="category.html">
                                            <span>Dưỡng da mặt</span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="category.html">Bộ mỹ phẩm chăm sóc da</a></li>
                                            <li><a href="category.html">Kem dưỡng da </a></li>
                                            <li><a href="category.html">Kem làm trắng</a></li>
                                            <li><a href="category.html">Sữa dưỡng da</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="category.html">
                                            <span>Làm sạch da mặt</span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="category.html">Tẩy Trang</a></li>
                                            <li><a href="category.html">Sữa rửa mặt</a></li>
                                            <li><a href="category.html">Tẩy da chết</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog.html">Tin tức</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="hidden-xs pull-right right-menu">
                                <ul class="nav navbar-nav pull-right">
                                    <li class="col-md-12">
                                        <div class="search-bar">
                                            <div class="">
                                                <form>
                                                    <input type="text" name="q" placeholder="Tìm kiếm..." />
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <a href="#" class="scrollToTop show">
                <i class="fa fa-chevron-up"></i>
            </a>
        </section>
    </div>
    @RenderBody()
</body>
</html>
