
<div class="main">
    <div style="max-width:1100px;margin: 0 auto;">
        @{ Html.RenderPartial("LeftMenu");}
        <div class="col-lg-9 col-md-9">
            <h2 class="heading">LIÊN HỆ</h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="width100">
                    <div class="module-content box-content">
                        <p>&nbsp;</p>

                        <p><span style="font-size:18px"><span style="color:#008000"><strong>CÔNG TY TNHH MTV TUẤN NGUYỄN TRAVEL</strong></span></span></p>

                        <div>
                            <div><span style="color:rgb(240, 110, 0)"><span style="font-size:14px"><strong>VĂN PHÒNG TẠI HÀ NỘI:</strong></span></span></div>

                            <div><span style="font-size:14px"><img alt="" src="https://www.tuannguyentravel.com/templates/images/icon-dia-diem.png" style="border:0px; height:20px; vertical-align:middle; width:20px"><strong>&nbsp; Địa chỉ:</strong>&nbsp;Phòng 305 - Tòa nhà Phương Nga, Số 3 ngõ 84 đường Trần Thái Tông, Q. Cầu Giấy, Hà Nội</span></div>

                            <div><span style="font-size:14px"><img alt="" src="https://www.tuannguyentravel.com/templates/images/icon-hotline-tuan-nguyen-travel.png" style="border:0px; float:left; height:20px; vertical-align:middle; width:20px">&nbsp;<strong>&nbsp;Điện thoại:&nbsp;</strong>0246 128 0030</span></div>

                            <div><span style="font-size:14px"><img alt="" src="https://www.tuannguyentravel.com/templates/images/icon-email-tuan-nguyen-travel.png" style="border:0px; height:auto !important; vertical-align:middle">&nbsp;&nbsp;<strong>Email:</strong>&nbsp;hanoi@tuannguyentravel.com</span></div>
                        </div>

                        <div>&nbsp;</div>

                        <div><span style="color:#f06e00"><span style="font-size:14px"><strong>VĂN PHÒNG TẠI ĐÀ NẴNG</strong></span></span></div>

                        <div><span style="font-size:14px"><img alt="" src="https://www.tuannguyentravel.com/templates/images/icon-dia-diem.png" style="border:0px; height:20px; vertical-align:middle; width:20px">&nbsp;<strong> Địa chỉ:</strong>&nbsp;Tầng 4, Số 02 Đặng Thai&nbsp;Mai, P. Vĩnh Trung, Q. Thanh Khê, TP.&nbsp;Đà Nẵng;</span></div>

                        <div><span style="font-size:14px">&nbsp;<img alt="" src="https://www.tuannguyentravel.com/templates/images/icon-hotline-tuan-nguyen-travel.png" style="border:0px; float:left; height:20px; vertical-align:middle; width:20px">&nbsp;<strong>Điện thoại:</strong>&nbsp;0236 3 817 288</span></div>

                        <div>
                            <span style="font-size:14px"><img alt="" src="https://www.tuannguyentravel.com/templates/images/icon-email-tuan-nguyen-travel.png" style="border:0px; height:20px; vertical-align:middle; width:20px">&nbsp;<strong>&nbsp;Email:</strong>&nbsp;sales@tuannguyentravel.com;</span><br>
                            &nbsp;
                        </div>

                        <div>&nbsp;</div>

                        <div><span style="color:#4285f4"><em><span style="font-size:14px"><strong>Website:</strong>&nbsp;www.tuannguyentravel.com&nbsp;-&nbsp;<strong>Hotline: </strong>0972 595 693<strong> -&nbsp;</strong>0967822051</span></em></span></div>

                        <p>&nbsp;</p>

                        <div><span style="font-size:20px"><strong><span style="color:#006400">Tài khoản thanh toán</span></strong></span></div>

                        <p><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">- Trong Trường hợp&nbsp;quý&nbsp;khách&nbsp;lấy&nbsp;hóa&nbsp;đơn GTGT, vui lòng&nbsp;đóng&nbsp;thêm 10% thuế&nbsp;VAT và&nbsp;CK theo tài khoản sau :&nbsp;</span></span></p>

                        <table border="1" cellpadding="0" cellspacing="0" style="line-height:20.8px; width:100%">
                            <tbody>
                                <tr>
                                    <td style="height:38px; width:188px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)"><strong>SỐ TÀI KHOẢN</strong></span></span></p>
                                    </td>
                                    <td style="height:38px; width:274px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)"><strong>TÊN TÀI KHOẢN</strong></span></span></p>
                                    </td>
                                    <td style="height:38px; width:246px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)"><strong>TÊN NGÂN HÀNG</strong></span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:31px; width:188px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">0041 000 158 603</span></span></p>
                                    </td>
                                    <td style="height:31px; width:274px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">CÔNG TY&nbsp;TNHH MTV TUẤN &nbsp;NGUYỄN TRAVEL</span></span></p>
                                    </td>
                                    <td style="height:31px; width:246px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">VIETCOMBANK – ĐÀ NẴNG</span></span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p>&nbsp;</p>

                        <p><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">- Hoặc không lấy hóa&nbsp;đơn GTGT:&nbsp;</span></span></p>

                        <table border="1" cellpadding="0" cellspacing="0" style="line-height:20.8px; width:100%">
                            <tbody>
                                <tr>
                                    <td style="height:29px; width:188px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)"><strong>SỐ TÀI KHOẢN&nbsp;</strong></span></span></p>
                                    </td>
                                    <td style="height:29px; width:274px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)"><strong>TÊN TÀI KHOẢN</strong></span></span></p>
                                    </td>
                                    <td style="height:29px; width:246px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)"><strong>TÊN NGÂN HÀNG</strong></span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:29px; width:188px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">0041 000 158 604</span></span></p>
                                    </td>
                                    <td style="height:29px; width:274px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">NGUYỄN THỊ PHƯƠNG THU</span></span></p>
                                    </td>
                                    <td style="height:29px; width:246px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">VIETCOMBANK – ĐÀ NẴNG</span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:29px; width:188px">
                                        <p style="text-align:center"><span style="font-size:12px">1040 0294 2730</span></p>
                                    </td>
                                    <td style="height:29px; width:274px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">NGUYỄN THỊ PHƯƠNG THU</span></span></p>
                                    </td>
                                    <td style="height:29px; width:246px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">VIETTINBANK – ĐÀ NẴNG</span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:29px; width:188px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">5601 0000 8873 57</span></span></p>
                                    </td>
                                    <td style="height:29px; width:274px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">NGUYỄN THỊ PHƯƠNG THU</span></span></p>
                                    </td>
                                    <td style="height:29px; width:246px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">BIDV-&nbsp; ĐÀ NẴNG</span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:29px; width:188px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">1903 0184 1400 11</span></span></p>
                                    </td>
                                    <td style="height:29px; width:274px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">NGUYỄN THỊ PHƯƠNG THU</span></span></p>
                                    </td>
                                    <td style="height:29px; width:246px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">TECHCOMBANK – ĐÀ NẴNG</span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:29px; width:188px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">9704 3206 1008 4081</span></span></p>
                                    </td>
                                    <td style="height:29px; width:274px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">NGUYỄN THỊ PHƯƠNG THU</span></span></p>
                                    </td>
                                    <td style="height:29px; width:246px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">VP BANK – HÀ NỘI</span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:29px; width:188px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">2011 206 015 434</span></span></p>
                                    </td>
                                    <td style="height:29px; width:274px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">NGUYỄN THỊ PHƯƠNG THU</span></span></p>
                                    </td>
                                    <td style="height:29px; width:246px">
                                        <p style="text-align:center"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">AGRIBANK – ĐÀ NẴNG</span></span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:29px; text-align:center; width:188px"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">0400 5334 0506</span></span></td>
                                    <td style="height:29px; text-align:center; width:274px">
                                        <p><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">NGUYỄN THỊ PHƯƠNG THU</span></span></p>
                                    </td>
                                    <td style="height:29px; text-align:center; width:246px"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">SACOMBANK ĐÀ NẴNG</span></span></td>
                                </tr>
                                <tr>
                                    <td style="height:29px; text-align:center; width:188px"><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">010 8382 810</span></span></td>
                                    <td style="height:29px; text-align:center; width:274px">
                                        <p><span style="font-size:12px"><span style="color:rgb(0, 0, 0)">NGUYỄN THỊ PHƯƠNG THU</span></span></p>
                                    </td>
                                    <td style="height:29px; text-align:center; width:246px">
                                        <span style="font-size:12px"><span style="color:rgb(0, 0, 0)">ĐÔNG Á BANK ĐÀ NẴNG</span></span><br>
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p>&nbsp;</p>

                    </div><!--box-content-->
                </div><!--End Box Item-->


                <div class="contact-form-box">
                    <h2 class="title_imos">Gửi thông tin đến chúng tôi</h2>
                    <!--ROW-->
                    <form action="https://www.tuannguyentravel.com/lien-he.html" method="post" accept-charset="utf-8" class="form_contact" id="form_contact">
                        <div class="hidden">
                            <input type="hidden" name="token" value="3ace77d2a371be51afb94d5069a8cba0">
                        </div>									<div class="row">
                            <div class="col col-6">
                                <label class="label">Họ tên</label>
                                <label class="input">
                                    <i class="icon-append icon-user"></i>
                                    <input type="text" name="vdata[fullname]">
                                </label>
                            </div>
                            <div class="col col-6">
                                <label class="label">Email</label>
                                <label class="input">
                                    <i class="icon-append icon-envelope-alt"></i>
                                    <input type="text" name="vdata[email]">
                                </label>
                            </div>
                        </div>
                        <!--END ROW-->
                        <div>
                            <label class="label">Tiêu đề</label>
                            <label class="input">
                                <i class="icon-append icon-tag"></i>
                                <input type="text" name="vdata[title]">
                            </label>
                        </div>
                        <div>
                            <label class="label">Nội dung</label>
                            <label class="input">
                                <i class="icon-append icon-comment"></i>
                                <textarea rows="4" name="vdata[content]"></textarea>
                            </label>
                        </div>
                        <button type="submit" class="bt_send button bnt_submit fr">Gửi Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>