
@{
    ViewBag.Title = "LoaiTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div style="max-width:1100px;margin: 0 auto;">
        @{ Html.RenderPartial("LeftMenu");}
        <div class="col-lg-9 col-md-9">
            <h2 class="heading">Tour Miền Bắc</h2>
            <h2 class="des" style="margin:15px 0;color:#720101; padding-top: 10px; clear: both; line-height: 22px; text-align: justify; font-size: 15px;">
                <p>Tour du lịch Miền Bắc giá rẻ chỉ từ 550K- Hành trình đa dạng: 1 ngày, 2 ngày 1 đêm, 3 ngày 2 đêm, 6 ngày 5 đêm, 7 ngày 6 đêm khám phá cảnh sắc thiên nhiên tuyệt đẹp</p>
            </h2>
            <div class="tour-list row">
                <!--Item List-->
                <div class="" id="listtourcat">
                    <div class="tour-box">
                        <!---->
                        <div class="tour-img">
                            <a title="Tour du lịch Sapa giá rẻ chỉ 1Tr3- Khám phá thiên đường miền Bắc" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-sapa.html"><img src="https://www.tuannguyentravel.com/data/images/sapa/check-in-dinh-fansipan-sapa.jpg" alt="Tour du lịch Sapa giá rẻ chỉ 1Tr3- Khám phá thiên đường miền Bắc"></a>

                        </div>
                        <div class="tour-info">
                            <h3><a id="tour_50" title="Tour du lịch Sapa giá rẻ chỉ 1Tr3- Khám phá thiên đường miền Bắc" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-sapa.html">CHÙM TOUR DU LỊCH SAPA</a></h3>
                            <div class="info-top">
                                <span>Khởi hành tại: Hà Nội/ Hồ Chí Minh / Đà Nẵng				</span>
                                <span class="rating" style="float: right;">
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                </span>
                            </div>
                            <div class="info">
                                <p title="Nổi bật: 50+ Tour du lịch Sapa với Giá Siêu KM chỉ từ 1Tr3">
                                    <!-- 	<p></p> -->
                                    Phương tiện: Tàu/ Xe giường nằm<br> Khởi hành: Hằng ngày				 <br>Nổi bật: 50+ Tour du lịch Sapa với Giá Siêu KM chỉ từ 1Tr3
                                </p>
                            </div>

                            <div class="price">
                                <div class="gia">1.390.000<span class="vnd"><br>(VNĐ)</span> </div>
                                <div class="chitiet"><a class="read-more" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-sapa.html">Xem thêm</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Item List-->
                <!--Item List-->
                <div class="" id="listtourcat">
                    <div class="tour-box">
                        <!---->
                        <div class="tour-img">
                            <a title="Tour du lịch Hạ Long giá rẻ từ Hà Nội" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ha-long.html"><img src="https://www.tuannguyentravel.com/data/images/ha%20long/du-thuyen1.jpg" alt="Tour du lịch Hạ Long giá rẻ từ Hà Nội"></a>

                        </div>
                        <div class="tour-info">
                            <h3><a id="tour_50" title="Tour du lịch Hạ Long giá rẻ từ Hà Nội" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ha-long.html">CHÙM TOUR HẠ LONG GIÁ HẤP DẪN</a></h3>
                            <div class="info-top">
                                <span>Khởi hành tại: Hà Nội/ Đà Nẵng				</span>
                                <span class="rating" style="float: right;">
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                </span>
                            </div>
                            <div class="info">
                                <p title="Nổi bật: Top 9 tour Hạ Long hot nhất mùa thu đông, giảm giá sốc lên đến 35%!">
                                    <!-- 	<p></p> -->
                                    Phương tiện: Ô tô/ Tàu<br> Khởi hành: Hằng ngày				 <br>Nổi bật: Top 9 tour Hạ Long hot nhất mùa thu đông, giảm giá sốc lên đến 35%!
                                </p>
                            </div>

                            <div class="price">
                                <div class="gia">599.000<span class="vnd"><br>(VNĐ)</span> </div>
                                <div class="chitiet"><a class="read-more" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ha-long.html">Xem thêm</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Item List-->
                <!--Item List-->
                <div class="" id="listtourcat">
                    <div class="tour-box">
                        <!---->
                        <div class="tour-img">
                            <a title="Tour du lịch Ninh Bình giá rẻ đi từ Hà Nội" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ninh-binh.html"><img src="https://www.tuannguyentravel.com/data/images/ninh-binh/bai-dinhb.jpg" alt="Tour du lịch Ninh Bình giá rẻ đi từ Hà Nội"></a>

                        </div>
                        <div class="tour-info">
                            <h3><a id="tour_50" title="Tour du lịch Ninh Bình giá rẻ đi từ Hà Nội" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ninh-binh.html">CHÙM TOUR NINH BÌNH GIÁ TỐT NHẤT</a></h3>
                            <div class="info-top">
                                <span>Khởi hành tại: Hà Nội/ Đà Nẵng				</span>
                                <span class="rating" style="float: right;">
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                </span>
                            </div>
                            <div class="info">
                                <p title="Nổi bật: Săn Tour Ninh Bình giá tốt nhất năm">
                                    <!-- 	<p></p> -->
                                    Phương tiện: Ô tô<br> Khởi hành: Hằng ngày				 <br>Nổi bật: Săn Tour Ninh Bình giá tốt nhất năm
                                </p>
                            </div>

                            <div class="price">
                                <div class="gia">550.000<span class="vnd"><br>(VNĐ)</span> </div>
                                <div class="chitiet"><a class="read-more" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ninh-binh.html">Xem thêm</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Item List-->
                <!--Item List-->
                <div class="" id="listtourcat">
                    <div class="tour-box">
                        <!---->
                        <div class="tour-img">
                            <a title="Tour du lịch Hà Giang giá rẻ - Chiêm ngưỡng những mùa hoa rực rỡ!" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ha-giang.html"><img src="https://www.tuannguyentravel.com/data/images/Ha-giang/hoa-tam-giac-mach-ha-giang(1).jpg" alt="Tour du lịch Hà Giang giá rẻ - Chiêm ngưỡng những mùa hoa rực rỡ!"></a>

                        </div>
                        <div class="tour-info">
                            <h3><a id="tour_50" title="Tour du lịch Hà Giang giá rẻ - Chiêm ngưỡng những mùa hoa rực rỡ!" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ha-giang.html">CHÙM TOUR DU LỊCH HÀ GIANG GIÁ RẺ</a></h3>
                            <div class="info-top">
                                <span>Khởi hành tại: Hà Nội / Hồ Chí Minh / Đà Nẵng				</span>
                                <span class="rating" style="float: right;">
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                </span>
                            </div>
                            <div class="info">
                                <p title="Nổi bật: Săn ngay top 10 điểm đến đẹp nhất xứ tam giác mạch giá cực rẻ chỉ từ 1.990K">
                                    <!-- 	<p></p> -->
                                    Phương tiện: Ô tô/ Tàu<br> Khởi hành: Hằng ngày				 <br>Nổi bật: Săn ngay top 10 điểm đến đẹp nhất xứ tam giác mạch giá cực rẻ chỉ từ 1.990K
                                </p>
                            </div>

                            <div class="price">
                                <div class="gia">2.190.000<span class="vnd"><br>(VNĐ)</span> </div>
                                <div class="chitiet"><a class="read-more" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ha-giang.html">Xem thêm</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Item List-->
                <!--Item List-->
                <div class="" id="listtourcat">
                    <div class="tour-box">
                        <!---->
                        <div class="tour-img">
                            <a title="Tour du lịch Mai Châu Hoà Bình từ Hà Nội giá &quot;Cực rẻ&quot; chỉ 599K" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-mai-chau.html"><img src="https://www.tuannguyentravel.com/data/images/mai-chau/mai-chau-hoa-binh-co-gi-dep.jpg" alt="Tour du lịch Mai Châu Hoà Bình từ Hà Nội giá &quot;Cực rẻ&quot; chỉ 599K"></a>

                        </div>
                        <div class="tour-info">
                            <h3><a id="tour_50" title="Tour du lịch Mai Châu Hoà Bình từ Hà Nội giá &quot;Cực rẻ&quot; chỉ 599K" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-mai-chau.html">CHÙM TOUR DU LỊCH MAI CHÂU GIÁ RẺ</a></h3>
                            <div class="info-top">
                                <span>Khởi hành tại: Hà Nội / Hồ Chí Minh / Đà Nẵng				</span>
                                <span class="rating" style="float: right;">
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                </span>
                            </div>
                            <div class="info">
                                <p title="Nổi bật: Top 10 tour đi hết Mai Châu giá cực rẻ với nhiều lựa chọn hấp dẫn chỉ từ 599K!">
                                    <!-- 	<p></p> -->
                                    Phương tiện: Ô tô<br> Khởi hành: Hằng ngày				 <br>Nổi bật: Top 10 tour đi hết Mai Châu giá cực rẻ với nhiều lựa chọn hấp dẫn chỉ từ 599K!
                                </p>
                            </div>

                            <div class="price">
                                <div class="gia">599.999<span class="vnd"><br>(VNĐ)</span> </div>
                                <div class="chitiet"><a class="read-more" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-mai-chau.html">Xem thêm</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Item List-->
                <!--Item List-->
                <div class="" id="listtourcat">
                    <div class="tour-box">
                        <!---->
                        <div class="tour-img">
                            <a title="Tour du lịch Hà Nội Mộc Châu giá rẻ 2 ngày, 3 ngày 2 đêm chỉ 699K" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-moc-chau.html"><img src="https://www.tuannguyentravel.com/data/images/cattour/moc-chau-ngay-tet.JPG" alt="Tour du lịch Hà Nội Mộc Châu giá rẻ 2 ngày, 3 ngày 2 đêm chỉ 699K"></a>

                        </div>
                        <div class="tour-info">
                            <h3><a id="tour_50" title="Tour du lịch Hà Nội Mộc Châu giá rẻ 2 ngày, 3 ngày 2 đêm chỉ 699K" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-moc-chau.html">CHÙM TOUR DU LỊCH MỘC CHÂU</a></h3>
                            <div class="info-top">
                                <span>Khởi hành tại: Hà Nội / Hồ Chí Minh / Đà Nẵng				</span>
                                <span class="rating" style="float: right;">
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                </span>
                            </div>
                            <div class="info">
                                <p title="Nổi bật: Top 9 tour Mộc Châu siêu KM mùa thu đông chỉ từ 699K">
                                    <!-- 	<p></p> -->
                                    Phương tiện: Ô tô/ Tàu<br> Khởi hành: Hằng ngày				 <br>Nổi bật: Top 9 tour Mộc Châu siêu KM mùa thu đông chỉ từ 699K
                                </p>
                            </div>

                            <div class="price">
                                <div class="gia">699.000<span class="vnd"><br>(VNĐ)</span> </div>
                                <div class="chitiet"><a class="read-more" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-moc-chau.html">Xem thêm</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Item List-->
                <!--Item List-->
                <div class="" id="listtourcat">
                    <div class="tour-box">
                        <!---->
                        <div class="tour-img">
                            <a title="Tour du lịch Đông Tây Bắc giá rẻ - Khám phá thiên đường du lịch!" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-dong-tay-bac.html"><img src="https://www.tuannguyentravel.com/data/images/dong-tay-bac/du-lich-dong-tay-bac.jpg" alt="Tour du lịch Đông Tây Bắc giá rẻ - Khám phá thiên đường du lịch!"></a>

                        </div>
                        <div class="tour-info">
                            <h3><a id="tour_50" title="Tour du lịch Đông Tây Bắc giá rẻ - Khám phá thiên đường du lịch!" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-dong-tay-bac.html">CHÙM TOUR DU LỊCH ĐÔNG TÂY BẮC GIÁ RẺ</a></h3>
                            <div class="info-top">
                                <span>Khởi hành: Hà Nội/Đà Nẵng				</span>
                                <span class="rating" style="float: right;">
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                </span>
                            </div>
                            <div class="info">
                                <p title="Nổi bật: 10+ tour du lịch săn trọn vùng Đông Bắc - Tây Bắc giá rẻ nhất, giảm lên đến 35%">
                                    <!-- 	<p></p> -->
                                    Phương tiện: Tàu/ ô tô<br> Khởi hành: Hằng ngày				 <br>Nổi bật: 10+ tour du lịch săn trọn vùng Đông Bắc - Tây Bắc giá rẻ nhất, giảm lên đến 35%
                                </p>
                            </div>

                            <div class="price">
                                <div class="gia">1.490.000<span class="vnd"><br>(VNĐ)</span> </div>
                                <div class="chitiet"><a class="read-more" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-dong-tay-bac.html">Xem thêm</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Item List-->
                <!--Item List-->
                <div class="" id="listtourcat">
                    <div class="tour-box">
                        <!---->
                        <div class="tour-img">
                            <a title="Tour du lịch Hà Nội 1 ngày" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ha-noi-1-ngay.html"><img src="https://www.tuannguyentravel.com/data/images/ha%20noi/chua-tran-quoc-ho-tay.jpg" alt="Tour du lịch Hà Nội 1 ngày"></a>

                        </div>
                        <div class="tour-info">
                            <h3><a id="tour_50" title="Tour du lịch Hà Nội 1 ngày" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ha-noi-1-ngay.html">CHÙM TOUR HÀ NỘI 1 NGÀY</a></h3>
                            <div class="info-top">
                                <span>Khởi hành tại: Hà Nội / Hồ Chí Minh / Đà Nẵng				</span>
                                <span class="rating" style="float: right;">
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                </span>
                            </div>
                            <div class="info">
                                <p title="Nổi bật: Top 6 tour giá cực rẻ đi hết thủ đô và những điểm đến &quot;sốt rần rần&quot;!">
                                    <!-- 	<p></p> -->
                                    Phương tiện: Ô tô/ Tàu<br> Khởi hành: Hằng ngày				 <br>Nổi bật: Top 6 tour giá cực rẻ đi hết thủ đô và những điểm đến "sốt rần rần"!
                                </p>
                            </div>

                            <div class="price">
                                <div class="gia">550.000<span class="vnd"><br>(VNĐ)</span> </div>
                                <div class="chitiet"><a class="read-more" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-ha-noi-1-ngay.html">Xem thêm</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Item List-->
                <!--Item List-->
                <div class="" id="listtourcat">
                    <div class="tour-box">
                        <!---->
                        <div class="tour-img">
                            <a title="Tour du lịch miền Bắc giá rẻ đi từ Đà Nẵng" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-mien-bac-tu-da-nang.html"><img src="https://www.tuannguyentravel.com/data/images/ha%20noi/du-lich-da-nang-ha-noi-ha-long.jpg" alt="Tour du lịch miền Bắc giá rẻ đi từ Đà Nẵng"></a>

                        </div>
                        <div class="tour-info">
                            <h3><a id="tour_50" title="Tour du lịch miền Bắc giá rẻ đi từ Đà Nẵng" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-mien-bac-tu-da-nang.html">CHÙM TOUR MIỀN BẮC TỪ ĐÀ NẴNG</a></h3>
                            <div class="info-top">
                                <span>Khởi hành tại: Hà Nội / Hồ Chí Minh / Đà Nẵng				</span>
                                <span class="rating" style="float: right;">
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                    <i class="glyphicon glyphicon-star star"> </i>
                                </span>
                            </div>
                            <div class="info">
                                <p title="Nổi bật: Nắm trọn miền Bắc trong tầm tay chỉ từ 1.450K trọn gói cực rẻ!">
                                    <!-- 	<p></p> -->
                                    Phương tiện: Ô tô/ Tàu<br> Khởi hành: Hằng ngày				 <br>Nổi bật: Nắm trọn miền Bắc trong tầm tay chỉ từ 1.450K trọn gói cực rẻ!
                                </p>
                            </div>

                            <div class="price">
                                <div class="gia">1.390.000<span class="vnd"><br>(VNĐ)</span> </div>
                                <div class="chitiet"><a class="read-more" href="https://www.tuannguyentravel.com/tour-mien-bac/tour-mien-bac-tu-da-nang.html">Xem thêm</a></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Item List-->
            </div>
        </div>
    </div>
</div>

<style>
    #listtourcat .tour-box {
        border-radius: 2px;
        background: #FFF;
        width: 100%;
        margin-bottom: 15px;
        border: none;
        height: 160px;
        clear: both;
    }

    #listtourcat .tour-img {
        width: 30%;
        float: left;
    }
    #listtourcat .tour-box .tour-img img {
        width: 100%;
        height: 160px !important;
        min-height: 160px;
    }
    #listtourcat .tour-info {
        width: 69%;
        float: right;
    }

        #listtourcat .tour-info h3 {
            font-size: 20px;
            font-weight: bold;
            line-height: 40px;
            padding: 0;
            overflow: hidden;
            height: 40px;
            text-transform: none;
        }

    #listtourcat .tour-box .tour-info .info-top {
        border-bottom: 1px solid #eee;
        padding: 0 15px 5px 0px;
        overflow: hidden;
        color: #f06e01;
        font-size: 13px;
    }

    #listtourcat .tour-box .tour-info .info {
        width: 75%;
        float: left;
        padding: 5px;
        font-size: 13px;
        height: 100px;
        overflow: hidden;
    }

        #listtourcat .tour-box .tour-info .info p {
            height: 81px;
            text-align: justify;
            overflow: hidden;
            line-height: 27px;
        }

    #listtourcat .tour-box .price {
        width: 25%;
        float: right;
        border-left: 1px solid #eee;
        padding-bottom: 0px;
    }

        #listtourcat .tour-box .price .gia {
            margin-top: 5px;
            font-size: 22px;
            margin-bottom: 0;
            text-align: center;
            color: #d46002;
            line-height: 24px;
            font-weight: bold;
        }

        #listtourcat .tour-box .price .vnd {
            font-size: 18px;
            color: #ddd;
            clear: both;
        }

        #listtourcat .tour-box .price .read-more {
            padding: 5px 15px !important;
            margin-left: 15px;
        }
    .tour-list .tour-box .read-more {
        padding: 3px 12px !important;
        color: #fff;
        display: inline-block;
        text-align: center;
        border: none;
        background: #f06e00;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        margin: 5px 0;
        cursor: pointer;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
</style>