@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div style="max-width:1100px;margin: 0 auto;">
        @Html.Action("LeftMenu")
        <div class="col-lg-9 col-md-9">
            <h1 class="heading">Thông tin đặt tour</h1>
            <div style="margin: 0 auto">
                <p>Chúc mừng bạn đã đặt tour thành công!</p>
            </div>

        </div>
    </div>
</div>